.four-section {

  background-color: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 55px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  &__video {
    display: flex;
  }

  &__img {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 75px;
  }
}