.three-section {

  background-color: #030303;

  &__container {
    display: flex;
  }

  &__title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    padding-top: 75px;
    margin-bottom: 25px;
  }

  &__span {
    width: 430px;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
    margin-bottom: 75px;
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  &__active {
    color: #CAAA7D;
  }

  &__img {
    padding-top: 95px;
    margin-left: 60px;
    padding-bottom: 75px;
  }
}