.five-section {

  background-color: #030303;

  &__title {
    margin-top: 0;
    font-family: 'Forum';
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__img {
    width: 100%;
    padding-top: 75px;
  }
}