.header {
  background-color: #030303;
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
}

.nav {
  &__ul {
    display: flex;
    list-style-type: none;
  }

  &__li {
    margin-left: 55px;
  }

  &__link {
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
  }
}

.main {
  &__container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 40px;
    position: relative;
  }

  &__section {
    background-color: #030303;
  }

  &__wrapper {
    position: absolute;
    z-index: 100;
    color: #fff;
    left: calc(50% - 550px);
    top: 140px;
  }

  &__title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 70px;
  }

  &__btn {
    width: 280px;
    height: 70px;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    background: #710707;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  &__slider-img {
    position: absolute;
    z-index: 200;
    bottom: 0;
    left: calc(50% - -110px);
  }

  &__monaliza-img {
    margin-right: 15px;
  }
}



@media only screen and (max-width:1024px) {
  .nav {
    display: none;
  }
}