.six-section {

  background-color: #fff;

  &__title {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 75px;
  }

  &__div {
    width: 100%;
    height: 3px;
    left: 0px;
    top: 115px;
    background: #710707;
    border-radius: 0px;
    margin-bottom: 55px;
  }

  &__tickets {
    display: flex;
    margin-bottom: 55px;
  }

  &__ticket-type {
    padding-right: 35px;
  }

  &__ticket-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
    margin-left: 50px;
    margin-top: 0;
  }

  &__ticket {
    display: flex;
  }

  &__input {
    margin-left: 50px;
  }

  &__ticket-text {
    width: 300px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-left: 20px;
  }

  &__two-ticket-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
    margin-left: 39px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__two-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 10px;
  }

  &__three-ticket-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  &__button {
    width: 135px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #000000;
    border-radius: 2px;
    color: #fff;
  }

  &__bg-img {
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../../images/parallax.svg");
  }
}